@use "../mixins/media.scss" as m;

.additional-card {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @include m.tablet {
    padding: 17px 38px 28px 38px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 40px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @include m.desktop {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 40px;
    padding: 15px 0 17px 0;
    border-left: none;
    border-right: none;
  }
}

.additional-card__name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #222222;
  margin-bottom: 13px;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    grid-column: 1 / 2;
  }
}

.additional-card__description {
  line-height: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include m.tablet {
    line-height: 20px;
    margin-bottom: 0;
    justify-content: flex-end;
    column-gap: 45px;
    grid-column: 2 / -2;
  }

  @include m.desktop {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 40px;
  }
}

.additional-card__appellation {
  @include m.desktop {
    max-width: 155px;
  }
}

.additional-card__value {
  min-width: 65px;
  text-align: right;
}

.additional-card__link {
  padding: 10px;

  @include m.tablet {
    padding: 7px 220px;
    grid-column: 1 / -1;
  }

  @include m.desktop {
    padding: 8px 26px;
    grid-column: 3 / 4;
  }
}
