@use "../mixins/media.scss" as m;

.additional {
  padding-top: 25px;
  padding-bottom: 35px;

  @include m.tablet {
    margin-bottom: 40px;
    padding-top: 68px;
  }

  @include m.desktop {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.additional__wrapper {
  padding-top: 32px;

  @include m.tablet {
    padding-top: 81px;
  }

  @include m.desktop {
    display: grid;
    padding-bottom: 53px;
    grid-template-columns: 894px 245px;
    gap: 80px;
  }
}

.additional__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
  flex-grow: 1;

  @include m.tablet {
    margin-bottom: 70px;
  }

  @include m.desktop {
    margin-bottom: 0;
  }
}

.additional__present {
  position: relative;
  text-align: center;
  background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 58px 42px 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background@2x.jpg");
  }

  @include m.tablet {
    min-height: 200px;
    align-items: start;
    padding: 57px 122px 15px 77px;
    justify-content: space-between;
    text-align: left;
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background-tablet@2x.jpg");
    }
  }

  @include m.desktop {
    padding: 56px 42px 42px;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/present-background@2x.jpg");
    }
  }

  &::before {
    content: "";
    display: block;
    background-image: url("../img/icons/present-icon.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    margin-bottom: 48px;
  }
}

.additional__present-text {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  max-width: 165px;

  @include m.tablet {
    margin-top: 14px;
  }

  @include m.desktop {
    margin-top: 0;
  }
}
