.address {
  margin: 0 auto;
}

.address__wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  justify-content: space-between;
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__text {
  line-height: 20px;
}

.address__map {
  display: block;
  object-fit: contain;
}
