@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.advantages {
  padding-top: 20px;
  padding-bottom: 35px;
}

.advantages__heading {
  margin-bottom: 42px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 135px;
  }

  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 94px 20px;
  }
}

.advantages__item {
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: v.$color-primery;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
  }

  &--leaf::before {
    background-image: url("../img/icons/leaf.svg");
  }

  &--glass::before {
    background-image: url("../img/icons/glass.svg");
  }

  &--cutlery::before {
    background-image: url("../img/icons/cutlery.svg");
  }

  &--time::before {
    background-image: url("../img/icons/clock.svg");
  }
}
