@use "../mixins/media.scss" as m;

.advantages {
  padding-top: 20px;
  padding-bottom: 35px;
}

.advantages__heading {
  margin-bottom: 42px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 94px 20px;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 135px;
  }

  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 95px;
  }
}
