@use "../mixins/media.scss" as m;

.advantages {
  padding-top: 20px;
  padding-bottom: 35px;
}

.advantages__heading {
  margin-bottom: 42px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 94px 20px;

  @include m.tablet {
    gap: 37px 135px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include m.desktop {
    column-gap: 95px;
  }
}

.advantages__item {
  @include m.tablet {
    width: 250px;
  }
}
