@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.button {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--primary {
    background-color: v.$color-primery;
    color: #ffffff;
  }

  &--secondary {
    background-color: v.$color-secondary;
    color: #444444;
  }
}
