@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.card {
  padding: 21px 20px;
  border-top: 2px solid v.$color-secondary;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &:last-child {
    border-bottom: 2px solid v.$color-secondary;
  }

  @include m.tablet {
    padding: 8px 37px 39px 39px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff 81px, v.$color-secondary 81px);
    border-top: none;
  }

  @include m.desktop {
    padding: 0 38px 40px;
    background: linear-gradient(to bottom, #ffffff 48px, #f2f2f2 48px);
  }
}

.card--more {
  background-image: linear-gradient(to bottom, #ffffff 81px, #ffffff 81px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 25px;

  @include m.tablet {
    padding-top: 49px;
    border: 2px solid v.$color-secondary;
    align-self: flex-end;
  }
}

.card__link-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 112px;

  @include m.tablet {
    width: 168px;
    height: 200px;
  }

  @include m.desktop {
    width: 172px;
    height: 196px;
    margin-bottom: 5px;
  }
}

.card__image-product {
  display: block;

  @include m.desktop {
    margin-bottom: 30px;
    margin-right: 5px;
  }
}

.card__product-link {
  text-decoration: none;
  text-align: left;
  display: inline-block;

  @include m.tablet {
    text-align: center;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--more {
    text-align: center;
    width: 100%;
    display: block;
  }

  &--more::before {
    margin-bottom: 22px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/more-icon.svg");
    background-repeat: no-repeat;

    @include m.tablet {
      width: 60px;
      height: 60px;
      margin-bottom: 35px;
      background-image: url("../img/icons/more-icon-big.svg");
    }
  }
}

.card__text {
  margin-bottom: 23px;

  @include m.desktop {
    min-height: 175px;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  color: #222222;
  max-width: 80px;

  @include m.tablet {
    font-size: 20px;
    line-height: 24px;
    max-width: 155px;
  }

  @include m.desktop {
    margin-bottom: 20px;
  }

  &--more {
    max-width: 100%;
    margin-bottom: 23px;

    @include m.tablet {
      max-width: 175px;
    }
  }
}

.card__description {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
  line-height: 16px;

  @include m.tablet {
    font-size: 16px;
    line-height: 20px;
    max-width: 180px;
  }

  @include m.desktop {
    min-height: 105px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @include m.tablet {
    font-size: 16px;
    line-height: 28px;
    position: relative;
    border-bottom: 1px solid #cdcdcd;
  }

  @include m.desktop {
    line-height: 27px;
    margin-bottom: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.card__button {
  text-align: center;
  padding: 7px;
  grid-column: 1 / -1;
  font-size: 16px;
}
