@use "../mixins/media.scss" as m;

.card {
  padding-top: 19px;
  padding-bottom: 14px;

  @include m.tablet {
    background-color: #f2f2f2;
    padding: 8px 37px 39px 39px;
  }

  @include m.desktop {
    padding: 0 38px 40px 39px;
  }
}

.card__product-name {
  text-decoration: none;
}

.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  color: #222222;

  &--more {
    text-align: center;
    color: #111111;
    margin-bottom: 8px;
  }

  @include m.tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @include m.tablet {
    font-size: 16px;
  }
}

.card__more {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  text-align: center;
}

.card__button {
  text-align: center;
  padding: 10px 110px;

  @include m.tablet {
    padding: 10px 93px;
  }

  @include m.desktop {
    padding: 10px 53px;
  }
}
