@use "../mixins/media.scss" as m;

.catalog__heading {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @include m.tablet {
    padding: 0;
    margin-bottom: 88px;
  }

  @include m.desktop {
    margin-bottom: 110px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 62px 60px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 87px 72px;
  }
}

