.page-catalog__assortment {
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__heading {
  margin-bottom: 27px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 11px;
}
