@use "../mixins/media.scss" as m;

.decoration-line {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    width: 100%;
    border-bottom: 2px solid  #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(50%);
    right: 0;
    border-bottom: 2px solid  #68b738;
  }
}

.decoration-line__title {
  max-width: 100%;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: #ffffff;
    right: 100%;
  }
}

.decoration-line__text {
  background-color: #ffffff;
  padding-right: 40px;
}
