@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;

  @include m.tablet {
    padding-bottom: 0;
  }

  &--whom,
  &--border {
    padding-left: 20px;
    padding-right: 20px;

    @include m.tablet {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  &--whom {
    @include m.tablet {
      margin-bottom: 72px;
    }
  }

  &--border {
    padding-top: 23px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    @include m.tablet {
      padding-top: 25px;
      padding-bottom: 25px;
      border: 1px solid #e7e7e7;
    }

    @include m.desktop {
      padding: 25px 28px;
    }
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
  }


  &--contacts {
    gap: 13px;
    padding-top: 33px;
    padding-bottom: 4px;

    @include m.tablet {
      gap: 72px;
      padding-top: 76px;
      padding-bottom: 65px;
    }

    @include m.desktop {
      padding-top: 72px;
      padding-bottom: 67px;
    }
  }

  &--whom {
    padding-top: 37px;
    padding-bottom: 26px;

    @include m.tablet {
      padding-top: 54px;
      padding-bottom: 75px;
    }

    @include m.desktop {
      padding: 65px 110px 69px;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &--submit {
    text-align: center;
    row-gap: 20px;

    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }

    @include m.desktop {
      gap: 80px;
    }
  }
}

.form__comment {
  padding-top: 38px;

  @include m.tablet {
    padding-top: 87px;
    padding-bottom: 53px;
  }

  @include m.desktop {
    padding-top: 76px;
    padding-bottom: 67px;
  }
}

.form__additionally {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 33px;
  padding-bottom: 9px;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 123px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-bottom: 61px;
  }
}

.form__data-item {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @include m.tablet {
    margin-bottom: 13px;
  }
}

.form__purpose-item {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  // проверить при PixelPerfect

  &:last-child {
    margin-bottom: 0;
  }
}

.form__contacts-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 13px;
}

.form__contacts-input {
  &--mail {
    background-image: url("../img/icons/email.svg");
    background-repeat: no-repeat;
    background-position: center right 16px;

    &:focus {
      background-image: url("../img/icons/email-focus.svg");
    }

    &:invalid:not(:placeholder-shown) {
      background-image: url("../img/icons/email-error.svg");
    }
  }

  &--tel {
    background-image: url("../img/icons/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center right 16px;

    &:focus {
      background-image: url("../img/icons/phone-icon-focus.svg");
    }

    &:invalid:not(:placeholder-shown) {
      background-image: url("../img/icons/phone-icon-error.svg");
    }
  }
}

.form__group-comment {
  resize: none;
  width: 100%;
  padding-right: 10px;
  height: 147px;
}

.form__additionally-item {
  padding: 0;
  margin: 0;
}

.form__button {
  padding: 14px 10px;
}

.form__explanation {
  @include m.tablet {
    text-align: left;
  }
}
