@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  @include m.desktop {
    margin: 0;
  }

  &--border {
    @include m.tablet {
      padding: 25px 27px;
      border: 1px solid #e7e7e7;
    }

    @include m.desktop {
      padding: 25px 28px;
    }
  }
}

.form__title {
  margin-bottom: 35px;
  text-align: left;
  display: flex;
  gap: 20px;

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 160px);
    border-bottom: 2px solid  #68b738;
  }

  &::after {
    content: "";
    height: 15px;
    width: 10px;
    flex-grow: 1;
    border-bottom: 2px solid  #68b738;
  }
}

.form__additionally-wrapper {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 123px;
  }

  @include m.desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 136px;
  }
}

.form__data-item {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @include m.tablet {
    margin-bottom: 28px;
  }
}

.form__purpose-item {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  // проверить при PixelPerfect

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  flex-grow: 1;
  width: calc(50% - 13px);
}

.form__purpose-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__radio-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  @include m.tablet {
    width: 40px;
    height: 40px;
  }
}

.form__radio[type="radio"]:checked ~ .form__radio-mark::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: v.$color-primery;
  border-radius: 50%;

  @include m.tablet {
    width: 18px;
    height: 18px;
  }
}

.form__purpose-name {
  padding-left: 20px;

  @include m.tablet {
    padding-left: 15px;
  }
}

.form__contacts-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 13px;
}

.form__contacts-input {
  flex-grow: 1;
  width: calc(50% - 13px);
}
