@use "../mixins/media.scss" as m;

.main-header {
  @include m.tablet {
    padding-top: 25px;
  }

  @include m.desktop {
    padding-top: 56px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 85px;
}

.main-header__logo {
  display: block;
}

.main-header__link-text {
  @include m.tablet {
    display: none;
  }
}

// .no-js {
//   .main-header__toggle {
//     display: none;
//   }
// }

.main-header__toggle {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &--closed {
    background-image: url("../img/icons/close.svg");
  }

  @include m.tablet {
    display: none;
  }
}
