@use "../mixins/media.scss" as m;

.main-nav {
  position: relative;
}

.main-nav__toggle {
  @include m.tablet {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @include m.tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }
}

.main-nav__link {
  display: inline-block;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
