@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.pick__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pick__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  &--radio {
    border-radius: 50%;
  }

  @include m.tablet {
    width: 40px;
    height: 40px;
  }
}

.pick__input:checked + .pick__mark--radio::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: v.$color-primery;
  border-radius: 50%;

  @include m.tablet {
    width: 18px;
    height: 18px;
  }
}

.pick__input:checked + .pick__mark--checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 20px;
  background: url("../img/icons/check.svg") no-repeat;
}

.pick__name {
  padding-left: 16px;
}

.pick__input:hover ~ .pick__mark,
.pick__input:focus ~ .pick__mark {
  border-color: #bababa;
}

.pick__input:disabled + .pick__mark,
.pick__input:disabled ~ .pick__name,
.pick__input:disabled ~ .pick__label {
  opacity: 0.3;
  cursor: default;
}
