@use "../mixins/media.scss" as m;
@use "../comman/variables.scss" as v;

.programs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;


  @include m.tablet {
    padding: 77px 316px 53px 52px;
  }

  @include m.desktop {
    padding: 77px 61px 55px 52px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: v.$color-primery;
    border-radius: 50%;
    left: 20px;
    top: 21px;

    @include m.tablet {
      width: 200px;
      height: 200px;
      top: 35px;
      left: 455px;
    }

    @include m.desktop {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
  }

  &--slim::after {
    background-image: url("../img/icons/cat-slim.svg");
    width: 36px;
    height: 50px;
    top: 18px;
    left: 28px;

    @include m.tablet {
      background-image: url("../img/icons/cat-slim-tablet.svg");
      width: 140px;
      height: 194px;
      top: 27px;
      left: 510px;
    }

    @include m.desktop {
      background-image: url("../img/icons/cat-slim-desktop.svg");
      width: 70px;
      height: 97px;
      top: 40px;
      left: 75px;
    }
  }

  &--pro::after {
    background-image: url("../img/icons/cat-pro.svg");
    width: 140px;
    height: 28px;
    top: 33px;
    left: 12px;

    @include m.tablet {
      background-image: url("../img/icons/cat-pro-tablet.svg");
      width: 268px;
      height: 112px;
      top: 90px;
      left: 412px;
    }

    @include m.desktop {
      background-image: url("../img/icons/cat-pro-desktop.svg");
      width: 268px;
      height: 112px;
      top: 70px;
      left: 30px;
    }
  }
}

.programs__title {
  margin-bottom: 29px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;

  @include m.tablet {
    line-height: 36px;
    margin-bottom: 24px;
    padding-left: 0;
  }

  @include m.desktop {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__text {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  color: #000000;

  @include m.tablet {
    max-width: 340px;
  }

  @include m.desktop {
    max-width: 460px;
  }
}

.programs__link {
  display: block;
  margin-top: 15px;
  color: #000000;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  min-width: 90px;

  &::after {
    content: "";
    border-width: 12px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-color: transparent;
    border-left-color: #000000;
    border-style: solid;
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 140px;
    transform: translateY(50%);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #000000;
    box-sizing: border-box;
    top: 50%;
    left: 122px;
    transition: width 0.3s;
  }

  &:hover,
  &:focus {
    &::before {
      width: 26px;
    }

    &::after {
      transform: translate(7px, 50%);
      transition: 0.3s;
    }
  }

  &:active {
    opacity: 0.5;
  }
}
