.programs__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__text {
  margin: 0;
  padding: 0;
}


.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
