@use "../mixins/media.scss" as m;

.promo {
  color: #ffffff;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(90deg, #68b738d9, #68b738d9), url("../img/promo-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 302px;
  }

  @include m.tablet {
    &::after {
      display: none;
    }
  }

  @include m.desktop {
    min-height: 720px;

    &::after {
      content: "";
      display: block;
      background-image: linear-gradient(90deg, #68b738d9 710px, #68b738d9), url("../img/promo-background-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      width: 50%;
      height: 720px;
      top: 0;
      right: 0;
      left: auto;
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 2;
}

.promo__content {
  max-width: 430px;
}

.promo__heading {
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;

  @include m.tablet {
    max-width: 420px;
    color: #000000;
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @include m.tablet {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }
}

.promo__image {
  display: block;

  @include m.tablet {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 180px;
  }
}

.promo__link {
  padding: 7px 44px;

  @include m.tablet {
    width: 224px;
    padding: 14px 26px;
    margin-top: 50px;
  }
}
