@use "../mixins/media.scss" as m;

.ration__heading {
  margin-bottom: 37px;
}

.ration__subheading {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @include m.tablet {
    max-width: 340px;
  }
}
