.promo {
  color: #ffffff;
  text-align: center;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/promo-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__heading {
  color: #ffffff;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
