.promo {
  color: #ffffff;
  text-align: center;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/promo-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__heading {
  color: #ffffff;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__text {
  margin: 0;
  padding: 0;
}

.example__text {
  margin: 0;
  padding: 0;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__item-value {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.address__text {
  line-height: 20px;
}
